.container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.modal {
  width: 90%;
  height: 85%;
  background-color: var(--white);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60% 25% 15%;
  border-radius: 5px;
  border: 1px solid #000;
}

.modalItens {
  grid-row: 1;
}

.modalItens li {
  animation: opacityAnime 0.5s forwards;
}

.modalInfo {
  grid-row: 2;
}

.modalItens li:first-child {
  height: 45px;
}

.modalItens li:first-child span {
  font-size: 1.5rem;
}

.modalInfo {
  background-color: #dfdfe5;
  display: flex;
  flex-direction: column;
}

.modalInfo .modalInfoArea {
  height: 75%;
  width: 100%;
  display: flex;
  animation: opacityAnime 0.5s forwards;
}

.modalInfo .modalInfoArea .modalInfoLeft {
  padding: 1.5rem 2rem;
  width: 50%;
}

.modalInfo .modalInfoArea .modalInfoLeft > span {
  display: inline-block;
  width: 100%;
  padding-bottom: 0.8rem;
  font-size: 1.1rem;
}

.modalInfo .modalInfoArea .modalInfoLeft p {
  font-size: 1.1rem;
}

.modalInfo .modalInfoArea .modalInfoLeft > span:last-child {
  display: flex;
  justify-content: space-between;
  width: 10rem;
}

.modalInfo .modalInfoArea .modalInfoRight {
  padding: 1.5rem 2rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.modalInfo .modalInfoArea .modalInfoRight > span,
.modalInfo .modalInfoArea .modalInfoRight p {
  padding-bottom: 0.8rem;
  width: 15rem;
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
}

.modalInfoAction {
  background-color: #dfdfe5;
  grid-row: 3;
  height: 120.938px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@keyframes opacityAnime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
