.booksArea {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.booksCard {
  background-color: var(--brown-first);
  height: 70%;
  width: 100%;
  /* margin-bottom: 4rem; */
  padding: 2rem;
  box-shadow: 0px 0px 8px #000;
}

.booksCardTop {
  height: 10%;
  display: flex;
  justify-content: space-between;
}

.booksCardMiddle {
  height: 80%;
  overflow: auto;
}

.booksCardTable {
  width: 100%;
  max-height: 95%;
  text-align: center;
  border: 1px solid var(--white);
  border-spacing: 0;
  background-color: var(--brown-fourth);
}

.booksCardTable tr td,
.booksCardTable thead tr th {
  padding: 10px;
  color: #fff;
  max-width: 30px;
}

.booksCardTable th,
.booksCardTable td {
  border-bottom: 1px solid #fff;
}

.booksCardTable thead,
.booksCardTable tbody {
  border: 1px solid var(--white);
}

.btnInsert,
.btnEdit,
.btnView,
.btnActive {
  color: #fff;
  padding: 0.4rem 1rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.btnInsert {
  background-color: var(--green);
}

.btnEdit {
  background-color: var(--blue-first);
}

.btnView {
  background-color: var(--blue-second);
}

.btnActive {
  background-color: var(--red);
}

.booksCardSearch {
  font-size: 1.2rem;
}

.booksCardSearch input {
  margin-left: 1rem;
  padding: 0.3rem;
}

.booksCardBottom {
  display: flex;
  align-content: center;
  justify-content: center;
}

/* Pagination style */

.pagination {
  margin: 15px auto;
  display: flex;
  list-style: none;
  outline: none;
}
.pagination > .active > a {
  background-color: #47ccde;
  border-color: #47ccde;
  color: #000;
}
.pagination > li > a {
  border: 1px solid var(--brown-fourth);
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: var(--brown-third);
  border-color: var(--brown-fourth);
  outline: none;
}
.pagination > li > a,
.pagination > li > span {
  color: #000;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-radius: unset;
}
