.modalArea {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.modal {
  margin-top: 4rem;
  width: 40rem;
  height: 35rem;
  background-color: var(--white);
  border: 1px solid #000;
  padding: 2rem;
  z-index: 100;
}

.formArea {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.formArea form {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.formArea form .formLeft label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
}

.formArea form .formRight label {
  display: flex;
  flex-direction: column;

  width: 80%;
}

.formRight {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.formArea form label input,
.formArea form label select {
  margin: 0.5rem 0;
  padding: 0.3rem;
  width: 100%;
}

.formArea form label .descriptionInput {
  width: 100%;
  margin-top: 0.7em;
  height: 5rem;
  resize: none;
  font-size: 1rem;
  padding: 0.5em;
}

.formCenter {
  height: 90%;
  display: flex;
}

.formCenter {
  height: 90%;
  width: 100%;
}

.formLeft,
.formRight {
  width: 50%;
}

.sendForm {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
}

.sendBtn,
.cancelBtn {
  color: #fff;
  padding: 0.4rem 2rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.sendBtn {
  background-color: var(--green);
}

.cancelBtn {
  background-color: var(--red);
}
