.card {
  border: 1px solid #9a9a9a;
  border-radius: 3px;
  grid-column: span 4;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 1rem;
}

.card > a {
  text-decoration: none;
}

.descriptionCard {
  height: 30%;
  width: 100%;
  word-break: break-all;
  text-align: center;
  padding-top: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.btnArea {
  display: flex;
  align-items: flex-end;
  height: 10%;
  width: 100%;
}

.addCartBtn {
  padding: 0.3rem;
  display: flex;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  background-color: var(--blue-first);
  width: 130px;
  font-size: 1rem;
}

.addCartBtn span {
  width: 80%;
}

.priceBook b {
  color: var(--priceColor);
  font-size: 1.6rem;
}

.priceBook:hover {
  text-decoration: cadetblue;
}

.imageArea {
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  background-color: rgba(0, 0, 0, 0.1);
}

.image {
  margin-top: 0.5rem;
  max-height: 100%;
  max-width: 100%;
  text-align: center;
  cursor: pointer;
}

.image:hover {
  opacity: 1;
  -webkit-animation: flash 1.5s;
  animation: flash 1.5s;
}

.titleBook {
  font-size: 1.2rem;
  color: #fff;
  cursor: pointer;
}

.titleBook:hover {
  text-decoration: underline;
}

.authorBook {
  font-size: 1rem;
  font-style: italic;
  color: #fff;
}

.buttonPurchase {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
  font-size: large;
  width: 250px;
  background-color: #f3c73e;
  border-radius: 15px;
}

/* Animation image */
@-webkit-keyframes flash {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
