.homeArea {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.generalCards {
  margin: 2rem 0;
  padding: 2rem;
  height: 45rem;
  overflow: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1.33%);
  justify-content: space-between;
  gap: 2rem;
  background-color: var(--brown-second);
  border-radius: 3px;
}
