.header {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  z-index: 100;
  background: #ebe9b9;
  top: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  width: 100%;
  margin: 0 auto;
}

.nav a {
  font-size: 1.2rem;
}

.mainNavigation {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}

.mainNavigation a {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--black);
  letter-spacing: 1px;
}

.leftContent {
  width: 25%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.rightContent {
  width: 25%;
  display: flex;
  justify-content: flex-end;
}

.login {
  background-color: var(--blue-first);
  color: #fff;
  padding: 0.4rem;
  font-weight: bold;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 40px;
  width: 90px;
}

.create {
  background-color: var(--brown-third);
  color: #fff;
  padding: 0.4rem;
  font-weight: bold;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  width: 130px;
  margin-left: 1rem;
}

.logoff {
  background-color: var(--red);
  color: #fff;
  padding: 0.5rem 1rem;
  font-weight: bold;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 40px;
  width: 120px;
}

/* DropDown */

.dropdown button {
  padding: 0.3rem;
  color: rgba(0, 0, 0, 0.5);
  background-color: transparent;
  border: none;
  border-radius: 5%;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.dropdown button span {
  margin-left: 0.5rem;
}

.dropdown button:hover {
  color: rgba(0, 0, 0, 0.7);
}

.dropdown div {
  display: flex;
  flex-direction: column;
  transform: translate3d(86px, 42px, 0px);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.5rem 0.7rem;
  border-radius: 5px;
}

.dropdown div a {
  color: #fff;
  padding: 0.3rem;
}

.dropdown div a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

/* Cart */

.cart {
  display: flex;
  align-items: center;
  padding: 0.3rem;
  border-radius: 3px;
  color: rgba(0, 0, 0, 0.5);
}

.amount {
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 1.1rem;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--red);
}

.cartArea {
  display: flex;
  /* position: absolute; */
}

.details {
  position: relative;
  width: 50px;
  height: 150px;
  background-color: aquamarine;
}
