@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  font-family: 'Roboto', sans-serif;
  color: var(--black);
}

body {
  padding-top: 4rem;
  background-color: var(--white);
  --brown-first: #d6d176;
  --brown-second: #f0ea83;
  --brown-third: #b0ac61;
  --brown-fourth: #706e3e;
  --white: #f8f8ff;
  --black: #2b2b2b;
  --green: #19cf45;
  --blue-first: #2ab6e6;
  --blue-second: #40dce7;
  --orange: #f3c73e;
  --red:#f48585;
  --priceColor:#675DE6;
  overflow: none;
}

html {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul {
  font-size: 1rem;
  font-weight: normal;
}

nav a {
  text-decoration: none;
}

.container {
  max-width: 75rem;
  padding: 0 1rem;
  margin: 0 auto;
}
