.container {
  height: 100%;
  width: 100%;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  height: 90%;
  display: grid;
  grid-template-rows: 60px 1fr;
}

.title {
  display: flex;
  align-items: center;
  grid-row: 1;
  font-size: 1.8rem;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 2px;
  color: var(--black);
}

.tableArea {
  grid-row: 2;
  /* overflow: auto; */
}

.table {
  border-spacing: 0;
  width: 100%;
  height: max-content;
  background-color: var(--white);
  text-align: left;
  table-layout: fixed;
  border-collapse: collapse;
}

.table tr th,
.table tr td {
  display: inline-block;
  width: calc(100% / 5);
  padding: 2rem;
  /* word-break: break-all; */
}

.table tr td {
  font-size: 1rem;
}
.table tr td:nth-child(4) {
  font-weight: bold;
}

.table thead {
  font-size: 1.3rem;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.5);
  background-color: #dfdfe5;
  width: 100%;
}

.table tr {
  display: block;
  position: relative;
  width: 100%;
}

.table tbody {
  display: block;
  overflow: auto;
  width: 100%;
  max-height: 30rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

.table tbody::-webkit-scrollbar {
  background: #c8c8ce;
  width: 18px;
}

.table tbody::-webkit-scrollbar-thumb {
  background: #c8c8ce;
  border-left: 4px solid rgba(0, 0, 0, 0.1);
  border-right: 4px solid rgba(0, 0, 0, 0.1);
}

.table tbody::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

.btnDetails {
  color: #fff;
  font-weight: 700;
  border: none;
  padding: 0.7rem 1rem;
  font-size: 1rem;
  background-color: var(--brown-third);
  cursor: pointer;
}
